<!DOCTYPE html>
<html>
  <head>
    <title>RKTEpubCreater</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <h1>Welcome to RKTEpubCreater</h1>
    </header>

    <main>
      <section>
        <form method="post" action="/" id="form">
          <p>
            <label for="url">Enter Novel URL(Only Supports NovelBuddy.com): </label>
            <input type="url" name="url" id="url" placeholder="https://novelbuddy.com/novel/novel-name" required/>
          </p>
          <p>
            <button>Generate Epub</button>
          </p>
        </form>
      </section>
    </main>
  </body>
</html>
