<!DOCTYPE html>
<html>
  <head>
    <title>RKTEpubCreater</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css" />
    <script src="./app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Welcome to RKTEpubCreater</h1>
    </header>
    <main>
      <section id="loader-container">
        <p class="message" data-url="<%= url %>">Epub Generation Started!!!</p>
        <div class="loader disabled"></div> 
        <button class="disabled" id="download">Download Epub</button>
      </section>
    </main>
  </body>
</html>